/* screen - photography */

.photography {
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(1, 98, 192, 0.3) 0%, rgb(92, 96, 111) 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  flex-direction: column;
  height: 2854px;
  width: 1440px;
}

.photography .overlap-group4 {
  height: 455px;
  position: relative;
  width: 1440px;
}

.photography .frame-47630 {
  height: 167px;
  left: 0;
  position: absolute;
  top: 208px;
  width: 638px;
}

.photography .frame-2 {
  align-items: flex-end;
  background-color: var(--tangaroa);
  border-radius: 0px 0px 15px 15px;
  display: flex;
  height: 225px;
  left: 0;
  overflow: hidden;
  padding: 30px 450px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.photography .projects {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 8px;
  min-height: 48px;
  min-width: 162px;
  white-space: nowrap;
}

.photography .overlap-group {
  height: 220px;
  left: 277px;
  position: absolute;
  top: 235px;
  width: 886px;
}

.photography .rectangle-84 {
  background-color: var(--science-blue);
  border-radius: 15px;
  height: 220px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 885px;
}

.photography .title {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 57px;
  width: 886px;
}

.photography .frame-container {
  height: 2108px;
  margin-top: 10px;
  position: relative;
  width: 1440px;
}

.photography .frame-47628 {
  height: 167px;
  left: 487px;
  position: absolute;
  top: 628px;
  width: 953px;
}

.photography .frame-47629 {
  height: 167px;
  left: 784px;
  position: absolute;
  top: 160px;
  width: 656px;
}

.photography .frame-47627 {
  height: 167px;
  left: 0;
  position: absolute;
  top: 545px;
  width: 583px;
}

.photography .frame-47632 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 560px;
  left: 188px;
  overflow: hidden;
  padding: 35px 40px;
  position: absolute;
  top: 0;
  width: 1064px;
}

.photography .photography-is-my-wa {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 71.0px;
  margin-left: 57px;
  min-height: 273px;
  width: 522px;
}

.photography .ellipse-container {
  height: 411px;
  position: relative;
  width: 405px;
}

.photography .ellipse-2 {
  background: linear-gradient(180deg, rgba(1, 98, 192, 0.3) 0%, rgb(92, 96, 111) 100%);
  border-radius: 183.5px;
  height: 367px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 367px;
}

.photography .ellipse-1 {
  height: 367px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 44px;
  width: 367px;
}

.photography .frame-4 {
  align-items: flex-end;
  border-radius: 15px;
  display: flex;
  gap: 11px;
  height: 1548px;
  left: 187px;
  overflow: hidden;
  padding: 25px 0;
  position: absolute;
  top: 560px;
  width: 1065px;
}

.photography .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1493px;
  width: 527px;
}

.photography .gallery {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 10px;
  min-height: 44px;
}

.photography .frame-5 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 275px;
  margin-top: 34px;
  overflow: hidden;
  padding: 14px 16px;
  width: 527px;
}

.photography .garden-of-the-gods {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1px;
  min-height: 29px;
  width: 294px;
}

.photography .x20230607195025_img_0675 {
  align-self: center;
  cursor: pointer;
  height: 216px;
  margin-left: 1.0px;
  object-fit: cover;
  width: 326px;
}

.photography .frame-7 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 275px;
  margin-top: 10px;
  overflow: hidden;
  padding: 15px 9px;
  width: 527px;
}

.photography .chichen-itza-a-gli {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  width: 502px;
}

.photography .x20240114171308_img_1160 {
  align-self: center;
  cursor: pointer;
  height: 205px;
  margin-left: 1.0px;
  width: 308px;
}

.photography .frame-9 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 21px;
  height: 275px;
  margin-top: 10px;
  overflow: hidden;
  padding: 15px 16px;
  width: 527px;
}

.photography .dartmouth-hall-fall {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  width: 294px;
}

.photography .x20241022_140501 {
  align-self: center;
  cursor: pointer;
  height: 174px;
  margin-left: 1.0px;
  width: 362px;
}

.photography .frame-14 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  height: 275px;
  margin-top: 10px;
  overflow: hidden;
  padding: 15px 16px;
  width: 527px;
}

.photography .overlap-group2 {
  height: 243px;
  position: relative;
  width: 362px;
}

.photography .x20210710_190947 {
  height: 241px;
  left: 134px;
  position: absolute;
  top: 2px;
  width: 228px;
}

.photography .smog {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 294px;
}

.photography .frame-12 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 275px;
  margin-top: 10px;
  overflow: hidden;
  padding: 15px 16px;
  width: 527px;
}

.photography .belmar-paths {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  width: 294px;
}

.photography .x20240612_202631 {
  align-self: center;
  cursor: pointer;
  height: 176px;
  margin-left: 1.0px;
  object-fit: cover;
  width: 382px;
}

.photography .frame-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 1415px;
  width: 527px;
}

.photography .frame-6 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 275px;
  overflow: hidden;
  padding: 15px 9px;
  width: 527px;
}

.photography .a-tranquil-forest-st {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  width: 502px;
}

.photography .x20231007143137_img_0899 {
  align-self: center;
  cursor: pointer;
  height: 212px;
  object-fit: cover;
  width: 315px;
}

.photography .frame-8 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 275px;
  overflow: hidden;
  padding: 15px 16px;
  width: 527px;
}

.photography .out-streched-palm-frond {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  width: 294px;
}

.photography .x20220725142029_img_0238 {
  align-self: center;
  cursor: pointer;
  height: 209px;
  margin-left: 1.0px;
  object-fit: cover;
  width: 312px;
}

.photography .frame-10 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 275px;
  overflow: hidden;
  padding: 15px 21px;
  width: 527px;
}

.photography .sunset-at-the-summit-vermont-usa {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 38.0px;
  min-height: 29px;
  width: 447px;
}

.photography .x20220528_201225 {
  cursor: pointer;
  height: 198px;
  margin-left: 1.0px;
  width: 366px;
}

.photography .frame-13 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 275px;
  overflow: hidden;
  padding: 13px 16px;
  width: 527px;
}

.photography .overlap-group1 {
  height: 248px;
  position: relative;
  width: 340px;
}

.photography .x20210906_163308 {
  cursor: pointer;
  height: 248px;
  left: 156px;
  position: absolute;
  top: 0;
  width: 184px;
}

.photography .surname {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  width: 294px;
}

.photography .frame-11 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--tangaroa);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 275px;
  overflow: hidden;
  padding: 12px 16px;
  width: 527px;
}

.photography .overlap-group-1 {
  height: 250px;
  position: relative;
  width: 348px;
}

.photography .x20240817_103359 {
  cursor: pointer;
  height: 250px;
  left: 148px;
  position: absolute;
  top: 0;
  width: 200px;
}

.photography .colorado {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 294px;
}

.photography .frame-47631 {
  height: 225px;
  margin-top: 56px;
  width: 1440px;
}
